body {
  color: #000;
}

header {
  height: 80px;
  background-color: #5bf999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  margin-bottom: 20px;
  border-radius: 5px 5px 0 0;

  h1 {
    font-weight: normal;
    margin: 0;
  }

  img {
    height: inherit;
    float: right;
  }
}

footer {
  background-color: red;
  padding: 15px 5px;
  border-radius: 0 0 5px 5px;
}

.app-wrapper {

  .container {
    border: 1px solid #d5d5d5;
    border-radius: 2px;
    padding: 5px;
    margin-bottom: 20px;

    .title-column {
      margin: 0;
      color: #000;
    }

    .tasks-wrapper {
      .task {
        .title-task {
          margin: 5px 0;
          padding: 5px;
          border: 1px solid #d5d5d5;
          border-radius: 2px;
        }
      }
    }
  }
}